APP_NAME="CBT SMKN1BLORA"
APP_ENV=production
APP_KEY=
ID_CODEC_SALT=change_this_stable_salt_do_not_rotate
APP_DEBUG=false
APP_URL=https://cbt.example.sch.id
APP_TIMEZONE=Asia/Jakarta

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning
AUDIT_ANSWER_SAVED=false

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=6432
DB_DATABASE=cbt_system
DB_USERNAME=cbt_user
DB_PASSWORD=change_me

DB_PRIMARY_HOST=192.168.16.121
DB_PRIMARY_PORT=5432
DB_PRIMARY_DATABASE=cbt_system
DB_PRIMARY_USERNAME=cbt_user
DB_PRIMARY_PASSWORD=change_me

CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_STORE=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis
REDIS_QUEUE=answers

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3

AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=change_this_minio_app_secret
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=cbt-media
AWS_ENDPOINT=http://media.madnnet.my.id:9000
AWS_URL=http://media.madnnet.my.id:9000/cbt-media
AWS_USE_PATH_STYLE_ENDPOINT=true

MAIL_MAILER=log
MAIL_FROM_ADDRESS=cbt@example.sch.id
MAIL_FROM_NAME="${APP_NAME}"
